{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    
</div>
<br>
<div class="container shadow px-4 p-4">
    <h2>Detail Data APAR {{ object.nomor }}</h2>
    <div class="row">
        <div class="col p-3 text-center">
            <img src="{{ object.path_foto.url }}" max-width="100%" width="280px" height="390px" class="rounded">
        </div>
        <div class="col p-3">
            <form method="POST" enctype="multipart/form-data">
                <table class="table table-borderless">
                    <thead>
                    
                    </thead>
                    <tbody>
                        <tr>
                            <td><label for="{{ field.id_for_label }}">Nomor APAR</label></td>
                            <td>{{ object.nomor }}</td>
                        </tr>
                        <tr>
                            <td><label for="{{ field.id_for_label }}">Lokasi</label></td>
                            <td>{{ object.lokasi}}</td>
                        </tr>
                        <tr>
                            <td><label for="{{ field.id_for_label }}">Jenis</label></td>
                            <td>{{ object.jenis }}</td>
                        </tr>
                        <tr>
                            <td><label for="{{ field.id_for_label }}">Ukuran</label></td>
                            <td>{{ object.ukuran }} Kg</td>
                        </tr>
                        <tr>
                            <td><label for="{{ field.id_for_label }}">Tanggal Expired</label></td>
                            <td>{{ object.expired }}</td>
                        </tr>
                        <tr>
                            <td><label for="{{ field.id_for_label }}">Pemeriksaan Terakhir</label></td>
                            <td>{{ object.tanggal_periksa }}</td>
                        </tr>
                        <tr>
                            <td><label for="{{ field.id_for_label }}">QR</label></td>
                            <td><img src="{{ MEDIA_URL }}/media/images/qrcodes/{{ object.path_QR }}.png" width="34"></td>
                        </tr>
                    </tbody>
                    <tr>
                        <th>
                           
                        </th>
                        <td class="text-end">
                            <a href="{% url 'DashboardHome' %}"  class="btn btn-danger">Back</a>
                        </td>
                    </tr>
                </table>
            
        </div>
        
        </form>
    </div>
    <div class="row p-3">
        <h4>History Pemeriksaan</h4>
        <div class="table-responsive">
            <table class="table table-sm table-danger table-striped table-bordered text-center w-auto">
                <tr>
                    <thead>
                        <td>Tanggal</td>
                        <td>Tekanan</td>
                        <td>Tabung</td>
                        <td>Pin</td>
                        <td>Handle</td>
                        <td>Selang</td>
                        <td>Keterangan</td>
                    </thead>
                </tr>
                {% if pemeriksaan_list %}
                {% for cek in pemeriksaan_list %}
                <tr>
                    <td>{{ cek.tanggal }}</td>
                    <td>{{ cek.get_tekanan_display }}</td>
                    <td>{{ cek.get_tabung_display }}</td>
                    <td>{{ cek.get_pin_display }}</td>
                    <td>{{ cek.get_handle_display }}</td>
                    <td>{{ cek.get_selang_display }}</td>
                    <td>{{ cek.keterangan }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
</div>
<script>
    let nomor_apar = document.getElementById('id_nomor').value;
    function isiQR(){
        nomor_apar = document.getElementById('id_nomor').value;
        document.getElementById('id_path_QR').value = 'fln-apar-' + nomor_apar;
    }
    function isiSlug(){
        document.getElementById('id_slug').value = 'fln-apar-' + nomor_apar;
    }
    isiQR();
    isiSlug();
</script>
{% endblock content %}