{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>================ isi tabel di sini ================</div>
<div class="container">
    <table id="tableApar" class="display"><!--class="table table-hover table-bordered align-middle"-->
        <thead class="" style="position:sticky;">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Lokasi</th>
                <th scope="col">Jenis</th>
                <th scope="col">Ukuran</th>
                <th scope="col">Expired</th>
                <th scope="col">Pemeriksaan Terakhir</th>
                <th scope="col">Foto di Lokasi</th>
                <th scope="col">Update?</th>
            </tr>
        </thead>
        <tbody>
        {% for apar in object_list %}
        <tr>
            <td>
                {{ apar.nomor }}
            </td>
            <td>
                <a href="{% url 'detailapar' %}{{ apar.slug }}">{{ apar.lokasi }}</a>
            </td>
            <td>
                {{ apar.jenis }}
            </td>
            <td>
                {{ apar.ukuran }} Kg
            </td>
            <td>
                {{ apar.expired }}
            </td>
            <td>
                {{ apar.tanggal_periksa }}
            </td>
            <td>
                <img src="media/{{ apar.path_foto }}" width="95" height="126">
            </td>
            <td>
                <a class="btn btn-primary" href="{% url 'updateapar' apar.id %}" >Update</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>

    </table>
</div>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready( function () {
    $('#tableApar').DataTable( {
        "pageLength": 5
        } );
    } );
</script>
{% endblock content %}