{% extends 'base.html' %}
{% load static %}
{% block content%}
<div class="row text-center">
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img src="{% static 'images/' %}{{ apar.path_foto }}" class="card-img-top">
            <div class="card-body">
                <h5>APAR 01</h5>
                <p class="card-text">Stamping 1</p>
                <button class="w-100 btn btn-primary">Cek Apar</button>
                <button class="w-100 btn btn-secondary">History</button>
            </div>
        </div>
        
    </div>
</div>
<div class="row">
    <div class="col">

    </div>
</div>
<div class="row">
    <div class="col">
        
    </div>
</div>
{% endblock content %}