{% extends 'base.html' %}
{% load static %}
{% block content%}
<div class="row p-4">
    <div class="col-lg-4 d-flex flex-column align-items-center">
        <div class="card shadow-sm" style="width: 20rem;">
            <img src="{{ apar.path_foto.url }}" class="card-img-top">
            <div class="card-body">
                <h4>FLN APAR {{ object.nomor }}</h4>
                <h5>{{ object.name }}</h5>
                <p class="card-text">Stamping 1</p>
                <a class="w-100 btn btn-primary" href="{% url 'cekapar' %}{{ apar.slug }}">Cek Apar</a>
                <a class="w-100 btn btn-secondary" href="{% url 'detailapar' %}{{ apar.slug }}">History</a>
            </div>
        </div>
        
    </div>
</div>
<div class="row">
    <div class="col">

    </div>
</div>
<div class="row">
    <div class="col">
        
    </div>
</div>
{% endblock content %}